/* Basic styling for the dropdown button */
.dropbtn {
    font-size: 18px;
    background-color: #b7bdbe;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    display: none; /* Default to none, show on certain screens */
}

/* Dropdown container */
.dropdown {
    position: absolute;
    top: 20px;
    left: 15px;
    display: inline-block;
}

/* Initially hide the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.dropdown-content li {
    padding: 10px;
    text-align: left;
}

.dropdown-content li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

.dropdown-content li a:hover {
    color: #ffffff;
    background-color: #9cc9e3;
    border-radius: 10px;
}

/* Show the dropdown when 'show' class is added */
.show {
    display: block;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 675px) {
    #container {
        max-width: 100% !important;
    }
    .main_content {
        flex-direction: column;
        max-width: 375px;
        margin-top: 60px;
    }
    .main_content img {
        width: 320px;
    }
    .main_content h1 {
        font-size: x-large;
    }
    .main_content h2 {
        font-size: xxx-large;
    }
    .main_content p {
        width: 322px;
        font-size: medium;
    }
    .logo img {
        width: 50px !important;
    }
    .logo {
        position: relative;
        left: 47px;
        padding-right: 35px;
    }
    .dropbtn {
        display: block; /* Show on smaller screens */
    }
}

@media screen and (min-width: 375px) and (max-width: 426px) {
    /* Similar styles as above can be applied if necessary */
    /* Adjust footer width */
    footer {
        width: 425px !important;
    }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
    .main_content {
        max-width: 768px;
        margin-top: 60px;
    }
    footer {
        width: 769px !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1251px) {
    .main_content {
        max-width: 1250px;
        margin-top: 60px;
    }
    footer {
        width: 1251px !important;
    }
    .dropbtn {
        display: none; /* Hide on larger screens */
    }
}
