body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e6f7ff;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
}

#password-strength {
    height: 10px;
    background-color: #97c0f0;
    border-radius: 3px;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c8cbb;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 5px;
}

.social-button i {
    margin-right: 5px;
}

.or {
    display: inline-block;
    margin: 0 10px;
    color: #999;
    text-align: center;
}
.fixed-navbar {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}
.navbar-nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: #555;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
}
.nav-link:hover {
    color: #007bff;
}