/* Base Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar Styles */
header {
  background-color: #fff;
  padding: 10px 0;
  width: 100%;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}

/* Scroll to Top Button */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #3341ff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

#back-to-top:hover {
  background-color: #2739bb;
  transform: scale(1.1);
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode header {
  background-color: #222;
}

body.dark-mode .menu ul li a {
  color: #fff;
}

.dark-mode-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body.dark-mode .dark-mode-toggle i {
  color: #ffd333;
}

/* Optional: Add hover effect for better feedback */
.dark-mode-toggle:hover {
  opacity: 0.8;
}

/* Headings and Text in Dark Mode */
body.dark-mode .content h1 {
  color: #ff5733;
}

body.dark-mode .feature p,
body.dark-mode .team-feature p,
body.dark-mode .contact-feature p,
body.dark-mode .content h2 {
  color: #fff;
}

/* Content Area */
.content {
  background-color: #fff;
  color: #333;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  flex-grow: 1;
  max-width: 100%;
}

body.dark-mode .content {
  background-color: #444;
  color: #fff;
}

/* Feature Box Styles */
.feature {
  background-color: #e7f3fe;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.feature img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 50%;
}

.feature h2 {
  color: #2980b9;
  margin-bottom: 10px;
}

.feature p {
  color: #555;
}

.team-feature,
.contact-feature {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  grid-column: 1 / -1;
}

.team-feature {
  background-color: #e7ffe7;
}

.contact-feature {
  background-color: #f2e4aa;
}

.team-feature img,
.contact-feature img {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

/* Footer Styles */
footer {
  text-align: center;
  background-color: #fff5f5;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #C4D7FF;
  color: #000;
  width: 100%;
  padding: 20px 10px;
}

.footer-copyright {
  background-color: #C4D7FF;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

.contact-ft,
.quick-links {
  flex: 1;
  min-width: 200px;
}

.social-ft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  flex-wrap: wrap;
}

.links a {
  color: white;
  text-decoration: none;
}

.quick-links-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.quick-links-list li {
  margin-bottom: 10px;
}

.quick-links-list a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.quick-links-list a:hover {
  color: #2980b9;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .quick-links {
      text-align: center;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
