@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #03080e;
    color: #333;

}

header {
    background-color: #004aad;
    padding: 20px;
    text-align: center;
    position: relative;
}

header .home-container h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin: 0;

    content: '';
    background-image: url('src/images/ambulance-banner.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.home-container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


main {
    padding: 40px 20px;
}

section {
    margin-bottom: 40px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #004aad;
    margin-bottom: 15px;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 3.5rem;
}

p {
    color: #4b5563;
    line-height: 1.8;
    font-size: 2rem;
}

ul {
    padding-left: 20px;
    color: #4b5563;
    font-size: 2rem;
    line-height: 1.8;
}

ul li {
    margin-bottom: 10px;
}

.subtext {
    font-size: 1.2rem;
    color: #1d4ed8;
    margin-top: 20px;
    text-align: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.feature-item {
    flex-basis: 30%;
    /* Adjusted for better fit */
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feature-item:hover {
    transform: translateY(-5px);
}

.feature-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.feature-item h3 {
    color: #004aad;
    font-size: 2rem;
    margin-bottom: 10px;
}

.feature-item p {
    color: #0a0d14;
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature-item {
        flex-basis: 100%;
    }
}

/* Footer */
footer {
    background-color: #004aad;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Language Switcher */
#languageSwitcher {
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    background-color: #f1f5f9;
    border: 2px solid #004aad;
    border-radius: 5px;
    color: #004aad;
    cursor: pointer;
}

#languageSwitcher:focus {
    outline: none;
}