<header class="sticky">
    <div class="container">

        <div id="logo" class="logo">
            <a href="index.html" class="brand-name">
                <span class="ambu">Ambu</span>Flow
            </a>
            <img src="images/logo2-w.webp" alt="Ambulance Monitoring System Logo" style="width: 50px; height: auto" />
        </div>
        <nav class="menu">
            <ul>
                <li>
                    <a href="/index.html" id="home-link" onclick="changeContent('home')"><i
                            class="fa-solid fa-house"></i>
                        Home</a>
                </li>
                <li>
                    <a href="features.html" id="features-link" onclick="changeContent('features')"><i
                            class="fa-solid fa-file"></i> Features</a>
                </li>
                <li>
                    <a href="team.html" id="team-link" onclick="changeContent('team')"><i
                            class="fa-solid fa-user-group"></i>
                        Team</a>
                </li>
                <li>
                    <a href="contact.html" id="contact-link" onclick="changeContent('contact')"><i
                            class="fa-solid fa-phone"></i> Contact</a>
                </li>
            </ul>
        </nav>
        <div class="buttons">
            <button class="light-dark-btn dark-mode-toggle" id="dark-mode-button">
                <i class="fa-solid fa-moon"></i>
            </button>
            <a href="login.html" class="login">Log in</a>
            <a href="up.html" class="get-started">Get started</a>
        </div>
    </div>
</header>