{% extends "layout.html" %}

{% block title %}Home - AmbuFlow{% endblock %}

{% block content %}
    <h1>Welcome to the Ambulance Monitoring System</h1>
    <div class="grid">
        <div class="feature">
            <img src="{{ url_for('static', filename='images/emergency-w.jpg') }}" alt="Emergency Response">
            <h2>Quick Emergency Response</h2>
            <p>Ensures patients receive timely medical assistance by locating the nearest hospitals and ambulances.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='images/ambulance-w.jpg') }}" alt="Real-Time Tracking">
            <h2>Real-Time Tracking</h2>
            <p>Provides real-time updates on ambulance locations and traffic conditions, optimizing route management.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='images/24-w.jpg') }}" alt="24/7 Availability">
            <h2>24/7 Availability</h2>
            <p>Ensures round-the-clock service, making sure that help is just a call away, anytime, anywhere.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='images/doctor-w.jpg') }}" alt="Enhanced Communication">
            <h2>Enhanced Communication</h2>
            <p>Facilitates seamless communication between patients, hospitals, and ambulance drivers.</p>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='images/hospital-w.jpg') }}" alt="Resource Management">
            <h2>Resource Management</h2>
            <p>Helps hospitals manage their resources efficiently by providing critical information and analytics.</p>
        </div>

        <!-- Team Section -->
        <div class="team-feature">
            <img src="{{ url_for('static', filename='images/team-w.png') }}" alt="Meet the Team">
            <div>
                <h2>Meet the Team</h2>
                <p>Learn more about our dedicated team working tirelessly to ensure efficient ambulance monitoring and resource management.</p>
                <a href="{{ url_for('team') }}" class="button">Go to Team</a>
            </div>
        </div>

        <!-- Contact Section -->
        <div class="contact-feature">
            <img src="{{ url_for('static', filename='images/contact-w.avif') }}" alt="Contact Us">
            <div>
                <h2>Contact Us</h2>
                <p>Reach out to us for any inquiries or assistance. We're here to help you 24/7 with our emergency services.</p>
                <a href="{{ url_for('contact') }}" class="button">Go to Contact</a>
            </div>
        </div>
    </div>
{% endblock %}
